NEXT_PUBLIC_STRAPI_API_URL=http://localhost:1337
NEXT_PUBLIC_STRAPI_API_TOKEN=dcf6d408901990e335a1133b311d53295d662932510c2c07a2e348a40cf37bb7f141831f32357e450cbb45e4c3bb1f2d8a5e579f45251853f136bd4b36a100b67c5a7ba4d33e18a5543c8e8e166b7084332ce0e0bd6dec7b978cf23e684ef6615f4d40a69ab956497073635da4f70154ac8be98d4a3b8921d372b019dbae4aa0

# This was inserted by `prisma init`:
# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

DATABASE_URL="mysql://root:@localhost:3306/dinaspanganbalam"
NEXTAUTH_SECRET=d943q8fha8ey4t7qw9eoyASDYGB9SDIYGIFDUHGsbidgy744nyoukh
NEXTAUTH_URL=http://localhost:3000

EMAIL_SERVER_HOST=mailhost.bandarlampungkota.go.id
EMAIL_SERVER_PORT=587
EMAIL_SERVER_USER=noreply-dinaspangan@bandarlampungkota.go.id
EMAIL_SERVER_PASSWORD=oPZiNbhAKi
EMAIL_FROM=noreply-dinaspangan@bandarlampungkota.go.id